@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --white: #fff;
  --accent-900: #3f7c88;
  --accent-100: #d2e2e2;
  --grey-100: #dadada;
  --grey-900: #303030;
  --border-radius: 1rem;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  font-weight: 400;
}

button {
  margin: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--grey-100);
  color: var(--grey-900);
  border: none;
  border-radius: var(--border-radius);
}

button:hover {
  background-color: var(--accent-100);
  border: none;
}
